{% load widget_tweaks %} 
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    {% tailwind_css %}
  </head>
  <body class="bg-primary-background">
    <div class="flex flex-col justify-center px-12 py-32">
      <div class="bg-white shadow-sm rounded-xl p-10 sm:mx-auto sm:w-full sm:max-w-md">
        <h1 class="text-center text-2xl font-bold leading-9 tracking-tight text-primary-color">Create Account</h1>
        <p class="text-center text-sm text-gray-600">Get started by creating your new account.</p>

        <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
          <form method="post" action="{% url 'users:signup' %}">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
              <div>
                <label for="{{form.first_name.id_for_label}}" class="block text-sm font-semibold leading-6 text-gray-900">{{form.first_name.label}}</label>
                {% render_field form.first_name class+="block w-full rounded-md border-0 px-3.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:oslo sm:text-sm sm:leading-6"%}
              </div>

              <div>
                <label for="{{form.last_name.id_for_label}}" class="block text-sm font-semibold leading-6 text-gray-900">{{form.last_name.label}}</label>
                {% render_field form.last_name class+="block w-full rounded-md border-0 px-3.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%}
              </div>
            </div>

            <div class="my-3">
              <label for="{{form.username.id_for_label}}" class="block text-sm font-medium leading-6 text-gray-900">{{form.username.label}}</label>
              {% render_field form.username class+="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%}  
            </div>

            <div>
              <label for="{{form.email.id_for_label}}" class="block text-sm font-medium leading-6 text-gray-900">{{form.email.label}}</label>
              {% render_field form.email class+="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%}
            </div>

            <div class="my-3">
              <label for="{{form.password1.id_for_label}}" class="block text-sm font-medium leading-6 text-gray-900">{{form.password1.label}}</label>
              {% render_field form.password1 class+="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%}
            </div>

            <div>
              <label for="{{form.password2.id_for_label}}" class="block text-sm font-medium leading-6 text-gray-900">{{form.password2.label}}</label>
              {% render_field form.password2 class+="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%}
            </div>

            <div class="my-5">
              <button name="submit" class="block w-full rounded-md bg-rolling px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-black-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</button>
              <input type="hidden" name="next" value="{% url 'users:signin' %}" />
            </div>
          </form>

          <div class="mt-2 flex sm:col-span-2 justify-center">
            <div class="flex h-6 items-center">
              <label class="text-sm text-gray-600" id="switch-1-label">
                Already have an account?
                <a href="{% url 'users:signin' %}" class="font-semibold text-primary-color">Sign&nbsp;in</a>.
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </body>
</html>
