{% load widget_tweaks %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In</title>
    {% tailwind_css %}
  </head>
  <body class="bg-primary-background">
    <!-- Card -->
    <div class="flex flex-col justify-center px-12 py-32">
      <div class="bg-white shadow-sm rounded-xl p-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <h1 class="text-center text-2xl font-bold leading-9 tracking-tight text-primary-color">Welcome Back!</h1>
        <p class="text-center text-sm text-gray-600">Sign in to your account.</p>

        <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" method="post" action="{% url 'users:signin' %}">
            {% csrf_token %}
            <div>
              <label for="{{form.username.id_for_label}}" class="block text-sm font-medium leading-6 text-black-primary">{{form.username.label}}</label>
              {% render_field form.username class+="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color sm:text-sm sm:leading-6"%}
            </div>

            <div>
              <label for="{{form.password1.id_for_label}}" class="block text-sm font-medium leading-6 text-black-primary">{{form.password.label}}</label>
              <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color sm:text-sm sm:leading-6">
            </div>

            <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-rolling px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-black-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in
              </button>
              <input type="hidden" name="next" value="{% url 'dashboard:index' %}" />
            </div>
          </form>

          {% if form.errors %}
          <p class="mt-2 text-center text-sm text-red-500">
            Your username and password didn't match. Please try again.
          </p>
          {% endif %}
          <p class="mt-5 text-center text-sm text-gray-500">
            Don't have an account?
            <a href="{% url 'users:signup' %}" class="font-semibold leading-6 text-primary-color ">Sign Up</a>
          </p>
        </div>
      </div> 
    </div>
  </body>
</html>