{% load widget_tweaks %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In</title>
    {% tailwind_css %}
  </head>
  <body>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
        </div>

        <div class="mt-3 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" method="post" action="{% url 'users:signin' %}">
            {% csrf_token %}
            <div>
              <label for="{{form.username.id_for_label}}" class="block text-sm font-medium leading-6 text-gray-900">{{form.username.label}}</label>
              <div>
                <!-- <input required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"> -->
            {% render_field form.username class+="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%}  
            </div>
            </div>
      
            <div>
              <div class="flex items-center justify-between">
                <label for="{{form.password1.id_for_label}}" class="block text-sm font-medium leading-6 text-gray-900">{{form.password.label}}</label>
            </div>
            <div>
                <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        
        <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
        </div>
        <input type="hidden" name="next" value="{% url 'dashboard:index' %}" />
    </form>
    
    {% if form.errors %}
    <p class="mt-2 text-center text-sm text-red-500">Your username and password didn't match. Please try again.</p>
    {% endif %}
          <p class="mt-5 text-center text-sm text-gray-500">
            Not a member?
            <a href="{% url 'users:signup' %}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign Up</a>
          </p>
        </div>
      </div>
  </body>
</html>