{% load widget_tweaks %} 
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head%}
    <title>Dashboard</title>
    {% endblock head%}
    {% tailwind_css %}
  </head>
<div class="min-h-full">
  {% include 'dashboard/navigation.html' %}
  {% block content %}
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Hello, {{ user.username }}</h1>
    </div>
  </header>
  <main>
    {% include 'dashboard/rooms.html' %}
  </main>
  {% endblock content %}
</div>

</html>
